<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eight</key>
	<dict>
		<key>four</key>
		<integer>-40</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>four</key>
		<integer>25</integer>
		<key>seven</key>
		<integer>20</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>five</key>
		<integer>-30</integer>
		<key>four</key>
		<integer>-150</integer>
		<key>nine</key>
		<integer>-40</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>four</key>
		<integer>-25</integer>
	</dict>
</dict>
</plist>
