<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array/>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>glyphOrder</string>
			<key>value</key>
			<array>
				<string>.notdef</string>
				<string>emspace</string>
				<string>enspace</string>
				<string>threeperemspace</string>
				<string>fourperemspace</string>
				<string>space</string>
				<string>thinspace</string>
				<string>hairspace</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>U</string>
				<string>T</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>a</string>
				<string>a_hook</string>
				<string>a_macr</string>
				<string>a_n</string>
				<string>a_r</string>
				<string>b</string>
				<string>b_com</string>
				<string>b_e</string>
				<string>b_o</string>
				<string>b_r</string>
				<string>b_s</string>
				<string>c</string>
				<string>c_hook</string>
				<string>c_macr</string>
				<string>c_a</string>
				<string>c_c</string>
				<string>c_e</string>
				<string>ce_e_macr</string>
				<string>c_i</string>
				<string>c_h</string>
				<string>c_k</string>
				<string>c_o</string>
				<string>c_o_macr</string>
				<string>c_t</string>
				<string>c_t_i</string>
				<string>c_u</string>
				<string>c_u_macr</string>
				<string>d</string>
				<string>d_strok</string>
				<string>d_hook</string>
				<string>d_e</string>
				<string>d_e_hook</string>
				<string>d_e_macr</string>
				<string>d_o</string>
				<string>e</string>
				<string>e_hook</string>
				<string>e_macr</string>
				<string>e_i</string>
				<string>e_etfin</string>
				<string>f</string>
				<string>f_a</string>
				<string>f_e</string>
				<string>f_f</string>
				<string>f_i</string>
				<string>f_l</string>
				<string>f_o</string>
				<string>f_r</string>
				<string>f_u</string>
				<string>g</string>
				<string>g_hook</string>
				<string>g_macr</string>
				<string>g_a</string>
				<string>g_e</string>
				<string>g_e_macr</string>
				<string>g_i</string>
				<string>g_o</string>
				<string>g_r</string>
				<string>g_u</string>
				<string>h</string>
				<string>h_e</string>
				<string>h_e_macr</string>
				<string>h_o</string>
				<string>i</string>
				<string>dotlessi</string>
				<string>i_macr</string>
				<string>i_n</string>
				<string>i_u</string>
				<string>i_j</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>l_hook</string>
				<string>l_i</string>
				<string>l_u</string>
				<string>m</string>
				<string>m_macr</string>
				<string>n</string>
				<string>n_macr</string>
				<string>n_i</string>
				<string>o</string>
				<string>o_macr</string>
				<string>o_e</string>
				<string>o_r</string>
				<string>p</string>
				<string>p_bardes</string>
				<string>p_flour</string>
				<string>p_hook</string>
				<string>p_macr</string>
				<string>p_e</string>
				<string>p_e_macr</string>
				<string>p_o</string>
				<string>p_o_macr</string>
				<string>p_p</string>
				<string>p_p_flour</string>
				<string>p_p_macr</string>
				<string>p_r</string>
				<string>q</string>
				<string>q_etfin</string>
				<string>q_etfin_macr</string>
				<string>q_etfin_ra</string>
				<string>q_hook</string>
				<string>q_macr</string>
				<string>q_ra</string>
				<string>q_strok</string>
				<string>r</string>
				<string>r.ss01</string>
				<string>r_macr</string>
				<string>r_a</string>
				<string>r_a_macr</string>
				<string>r_e</string>
				<string>r_o</string>
				<string>r_i</string>
				<string>s</string>
				<string>s.ss01</string>
				<string>longs</string>
				<string>longs_strok</string>
				<string>longs_c_h</string>
				<string>longs_i</string>
				<string>longs_p</string>
				<string>longs_longs</string>
				<string>longs_t</string>
				<string>longs_t_i</string>
				<string>longs_t_u</string>
				<string>t</string>
				<string>t_acute</string>
				<string>t_macr</string>
				<string>t_urrot</string>
				<string>t_a</string>
				<string>t_e</string>
				<string>t_e_macr</string>
				<string>t_i</string>
				<string>t_o</string>
				<string>t_t</string>
				<string>t_u</string>
				<string>t_u_macr</string>
				<string>u</string>
				<string>u_hook</string>
				<string>u_macr</string>
				<string>u_ring</string>
				<string>u_i</string>
				<string>v</string>
				<string>v_bardes</string>
				<string>v_hook</string>
				<string>v_longhook</string>
				<string>v_e</string>
				<string>v_o</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>y_dieresis</string>
				<string>z</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>zero</string>
				<string>ampersand</string>
				<string>con</string>
				<string>etfin</string>
				<string>rum</string>
				<string>section</string>
				<string>us</string>
				<string>period</string>
				<string>periodcentered</string>
				<string>comma</string>
				<string>colon</string>
				<string>question</string>
				<string>hyphen</string>
				<string>macr</string>
				<string>apomod</string>
				<string>urrot</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Use Typo Metrics</string>
			<key>value</key>
			<true/>
		</dict>
	</array>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>E35B076F-D533-4C92-BAB9-D65BCB0F4FA2</key>
			<dict>
				<key>HH</key>
				<string>45</string>
				<key>HV</key>
				<string>110</string>
				<key>OH</key>
				<string>v</string>
				<key>OV</key>
				<string>125</string>
				<key>nV</key>
				<string>100</string>
				<key>nd</key>
				<string>40</string>
				<key>oH</key>
				<string>50</string>
				<key>oV</key>
				<string>110</string>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>E35B076F-D533-4C92-BAB9-D65BCB0F4FA2</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>space</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>U</string>
		<string>T</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>a_hook</string>
		<string>a_macr</string>
		<string>a_n</string>
		<string>a_r</string>
		<string>b</string>
		<string>b_com</string>
		<string>b_e</string>
		<string>b_o</string>
		<string>b_r</string>
		<string>b_s</string>
		<string>c</string>
		<string>c_hook</string>
		<string>c_macr</string>
		<string>c_a</string>
		<string>c_c</string>
		<string>c_e</string>
		<string>ce_e_macr</string>
		<string>c_i</string>
		<string>c_h</string>
		<string>c_k</string>
		<string>c_o</string>
		<string>c_o_macr</string>
		<string>c_t</string>
		<string>c_t_i</string>
		<string>c_u</string>
		<string>c_u_macr</string>
		<string>d</string>
		<string>d_strok</string>
		<string>d_hook</string>
		<string>d_e</string>
		<string>d_e_hook</string>
		<string>d_e_macr</string>
		<string>d_o</string>
		<string>e</string>
		<string>e_hook</string>
		<string>e_macr</string>
		<string>e_i</string>
		<string>e_etfin</string>
		<string>f</string>
		<string>f_a</string>
		<string>f_e</string>
		<string>f_f</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>f_o</string>
		<string>f_r</string>
		<string>f_u</string>
		<string>g</string>
		<string>g_hook</string>
		<string>g_macr</string>
		<string>g_a</string>
		<string>g_e</string>
		<string>g_e_macr</string>
		<string>g_i</string>
		<string>g_o</string>
		<string>g_r</string>
		<string>g_u</string>
		<string>h</string>
		<string>h_e</string>
		<string>h_e_macr</string>
		<string>h_o</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>i_macr</string>
		<string>i_n</string>
		<string>i_u</string>
		<string>i_j</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>l_hook</string>
		<string>l_i</string>
		<string>l_u</string>
		<string>m</string>
		<string>m_macr</string>
		<string>n</string>
		<string>n_macr</string>
		<string>n_i</string>
		<string>o</string>
		<string>o_macr</string>
		<string>o_e</string>
		<string>o_r</string>
		<string>p</string>
		<string>p_bardes</string>
		<string>p_flour</string>
		<string>p_hook</string>
		<string>p_macr</string>
		<string>p_e</string>
		<string>p_e_macr</string>
		<string>p_o</string>
		<string>p_o_macr</string>
		<string>p_p</string>
		<string>p_p_flour</string>
		<string>p_p_macr</string>
		<string>p_r</string>
		<string>q</string>
		<string>q_etfin</string>
		<string>q_etfin_macr</string>
		<string>q_etfin_ra</string>
		<string>q_hook</string>
		<string>q_macr</string>
		<string>q_ra</string>
		<string>q_strok</string>
		<string>r</string>
		<string>r.ss01</string>
		<string>r_macr</string>
		<string>r_a</string>
		<string>r_a_macr</string>
		<string>r_e</string>
		<string>r_o</string>
		<string>r_i</string>
		<string>s</string>
		<string>s.ss01</string>
		<string>longs</string>
		<string>longs_strok</string>
		<string>longs_c_h</string>
		<string>longs_i</string>
		<string>longs_p</string>
		<string>longs_longs</string>
		<string>longs_t</string>
		<string>longs_t_i</string>
		<string>longs_t_u</string>
		<string>t</string>
		<string>t_acute</string>
		<string>t_macr</string>
		<string>t_urrot</string>
		<string>t_a</string>
		<string>t_e</string>
		<string>t_e_macr</string>
		<string>t_i</string>
		<string>t_o</string>
		<string>t_t</string>
		<string>t_u</string>
		<string>t_u_macr</string>
		<string>u</string>
		<string>u_hook</string>
		<string>u_macr</string>
		<string>u_ring</string>
		<string>u_i</string>
		<string>v</string>
		<string>v_bardes</string>
		<string>v_hook</string>
		<string>v_longhook</string>
		<string>v_e</string>
		<string>v_o</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>y_dieresis</string>
		<string>z</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero</string>
		<string>ampersand</string>
		<string>con</string>
		<string>etfin</string>
		<string>rum</string>
		<string>section</string>
		<string>us</string>
		<string>period</string>
		<string>periodcentered</string>
		<string>comma</string>
		<string>colon</string>
		<string>question</string>
		<string>hyphen</string>
		<string>macr</string>
		<string>apomod</string>
		<string>urrot</string>
	</array>
	<key>com.schriftgestaltung.master.name</key>
	<string>Gotico-Antiqua 96G</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>space</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>U</string>
		<string>T</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>a_hook</string>
		<string>a_macr</string>
		<string>a_n</string>
		<string>a_r</string>
		<string>b</string>
		<string>b_e</string>
		<string>b_o</string>
		<string>b_r</string>
		<string>b_s</string>
		<string>c</string>
		<string>c_hook</string>
		<string>c_macr</string>
		<string>c_a</string>
		<string>c_c</string>
		<string>c_e</string>
		<string>ce_e_macr</string>
		<string>c_i</string>
		<string>c_h</string>
		<string>c_k</string>
		<string>c_o</string>
		<string>c_o_macr</string>
		<string>c_t</string>
		<string>c_t_i</string>
		<string>c_u</string>
		<string>c_u_macr</string>
		<string>d</string>
		<string>d_strok</string>
		<string>d_e</string>
		<string>d_e_hook</string>
		<string>d_e_macr</string>
		<string>d_o</string>
		<string>e</string>
		<string>e_hook</string>
		<string>e_macr</string>
		<string>e_etfin</string>
		<string>f</string>
		<string>f_a</string>
		<string>f_e</string>
		<string>f_f</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>f_o</string>
		<string>f_r</string>
		<string>f_u</string>
		<string>g</string>
		<string>g_hook</string>
		<string>g_macr</string>
		<string>g_e</string>
		<string>g_e_macr</string>
		<string>g_i</string>
		<string>g_o</string>
		<string>g_r</string>
		<string>g_u</string>
		<string>h</string>
		<string>h_e</string>
		<string>h_e_macr</string>
		<string>h_o</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>i_macr</string>
		<string>i_n</string>
		<string>i_u</string>
		<string>i_j</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>l_hook</string>
		<string>l_i</string>
		<string>l_u</string>
		<string>m</string>
		<string>m_macr</string>
		<string>n</string>
		<string>n_macr</string>
		<string>n_i</string>
		<string>o</string>
		<string>o_macr</string>
		<string>o_e</string>
		<string>o_r</string>
		<string>p</string>
		<string>p_bardes</string>
		<string>p_hook</string>
		<string>p_macr</string>
		<string>p_e</string>
		<string>p_e_macr</string>
		<string>p_o</string>
		<string>p_o_macr</string>
		<string>p_p</string>
		<string>p_p_flour</string>
		<string>p_r</string>
		<string>q</string>
		<string>q_etfin</string>
		<string>q_etfin_macr</string>
		<string>q_etfin_ra</string>
		<string>q_hook</string>
		<string>q_macr</string>
		<string>q_ra</string>
		<string>q_strok</string>
		<string>r</string>
		<string>r.ss01</string>
		<string>r_macr</string>
		<string>r_a</string>
		<string>r_a_macr</string>
		<string>r_e</string>
		<string>r_o</string>
		<string>s</string>
		<string>s.ss01</string>
		<string>longs</string>
		<string>longs_strok</string>
		<string>longs_c_h</string>
		<string>longs_i</string>
		<string>longs_longs</string>
		<string>longs_t</string>
		<string>longs_t_i</string>
		<string>longs_t_u</string>
		<string>t</string>
		<string>t_acute</string>
		<string>t_urrot</string>
		<string>t_a</string>
		<string>t_e</string>
		<string>t_e_macr</string>
		<string>t_i</string>
		<string>t_o</string>
		<string>t_t</string>
		<string>t_u</string>
		<string>t_u_macr</string>
		<string>u</string>
		<string>u_hook</string>
		<string>u_macr</string>
		<string>u_ring</string>
		<string>u_i</string>
		<string>v</string>
		<string>v_hook</string>
		<string>v_longhook</string>
		<string>v_e</string>
		<string>v_o</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>y_dieresis</string>
		<string>z</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero</string>
		<string>ampersand</string>
		<string>con</string>
		<string>etfin</string>
		<string>rum</string>
		<string>section</string>
		<string>us</string>
		<string>period</string>
		<string>periodcentered</string>
		<string>comma</string>
		<string>colon</string>
		<string>question</string>
		<string>hyphen</string>
		<string>macr</string>
		<string>apomod</string>
		<string>urrot</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>con</key>
		<string>uniA76F</string>
		<key>emspace</key>
		<string>uni2003</string>
		<key>enspace</key>
		<string>uni2002</string>
		<key>fourperemspace</key>
		<string>uni2005</string>
		<key>hairspace</key>
		<string>uni200A</string>
		<key>rum</key>
		<string>uniA775</string>
		<key>thinspace</key>
		<string>uni2009</string>
		<key>threeperemspace</key>
		<string>uni2004</string>
		<key>us</key>
		<string>uniA770</string>
	</dict>
	<key>public.skipExportGlyphs</key>
	<array>
		<string>macr</string>
		<string>apomod</string>
		<string>urrot</string>
	</array>
</dict>
</plist>
