<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>800</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>Copyright (c) 2019 ANRT. All rights reserved.</string>
	<key>descender</key>
	<integer>-200</integer>
	<key>familyName</key>
	<string>Soufflet Vert</string>
	<key>openTypeHeadCreated</key>
	<string>2019/04/19 18:26:13</string>
	<key>openTypeNameDescription</key>
	<string>Soufflet Vert 106R, Hybrid first used in Paris by the Au Soufflet Vert workshop for Guido de Monte Rochen’s Manipulus curatorum, 1476 and used until 1480.

Type design workshop at ISBA Besançon and Bibliothèque d’étude et de conservation de Besançon, May 2018. 

Source: Manipulus curatorum, Guido de Monte Rochen, 1476.

Workshop participants: Lise Anaclet, Donovan Bessard, Chenghao Bian, Guillaume Deschamps, Mallaury Genet, Émilie Goujaud, Eva Güzel, Anouk Jeanningros, Marie Lavisse, Kevin Lebourdais, Nicolas Lugant, Maxime Martins, Ilana Maublanc, Marion Micigolski, Loïs Renou, Jordan Simonetto, Sébastien Strange-Cilia, Rafael Ribas, Alexis Faudot.

Font designed and produced by Alexis Faudot and Rafael Ribas, directed by Jérôme Knebusch, Atelier National de Recherche Typographqiue (ANRT), Nancy.

Copyright (c) 2019 ANRT. All rights reserved.</string>
	<key>openTypeNameDesigner</key>
	<string>Alexis Faudot, Rafael Ribas</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.anrt-nancy.fr</string>
	<key>openTypeNameManufacturer</key>
	<string>ANRT</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.anrt-nancy.fr</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Soufflet Vert</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Hybrid 106R</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array>
		<integer>2</integer>
	</array>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>ANRT</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>760</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>215</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-10</integer>
		<integer>0</integer>
		<integer>390</integer>
		<integer>400</integer>
		<integer>700</integer>
		<integer>710</integer>
	</array>
	<key>postscriptFontName</key>
	<string>SouffletVert-Hybrid106R</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-210</integer>
		<integer>-200</integer>
	</array>
	<key>styleMapFamilyName</key>
	<string>Soufflet Vert Hybrid 106R</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Hybrid 106R</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>390</integer>
</dict>
</plist>
