<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>730</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>Copyright (c) 2019 ANRT. All rights reserved.</string>
	<key>descender</key>
	<integer>-270</integer>
	<key>familyName</key>
	<string>Ptolemy</string>
	<key>openTypeHeadCreated</key>
	<string>2019/04/19 19:58:32</string>
	<key>openTypeNameDescription</key>
	<string>Ptolemy, designed in Chelsea by St John Hornby, Sidney Cockerell and Emery Walker, cut in 18 pt by Edward Prince for Cervantes’ Don Quixote. Published by the Ashendene Press in 1927. The type used until 1935 is a revival of Lienhart Holl’s cut for Ptolemaeus’ Cosmographia printed in 1482 in Ulm.

Type design workshop at HEAR Mulhouse, March 2015.

Sources: Don Quixote, Cervantes, 1927 &amp; Cosmographia, Ptolemaeus, 1482.

Workshop participants: Jean-Luc Pinter, Aline Riou, Kyuyoun, Adrien Joufflineau, Lina Kahal, Marion Coudert, Sanchez Alix, Margaux Marques, Stéphanie Thiriet, Axel Bidault, Rafael Ribas, Louis Fouilleux, Caroline Amadei.

Font designed and produced by Alexis Faudot and Rafael Ribas, directed by Jérôme Knebusch, Atelier National de Recherche Typographqiue (ANRT), Nancy.

Copyright (c) 2019 ANRT. All rights reserved.</string>
	<key>openTypeNameDesigner</key>
	<string>Alexis Faudot, Rafael Ribas</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.anrt-nancy.fr</string>
	<key>openTypeNameManufacturer</key>
	<string>ANRT</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.anrt-nancy.fr</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Ptolemy</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Great-Primer 18</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array>
		<integer>2</integer>
	</array>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>ANRT</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>760</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>295</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-280</integer>
		<integer>-270</integer>
		<integer>-10</integer>
		<integer>0</integer>
		<integer>450</integer>
		<integer>460</integer>
		<integer>700</integer>
		<integer>710</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Ptolemy-Great-Primer18</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>47</integer>
		<integer>28</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>85</integer>
		<integer>68</integer>
		<integer>79</integer>
	</array>
	<key>styleMapFamilyName</key>
	<string>Ptolemy Great-Primer 18</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Great-Primer 18</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>450</integer>
</dict>
</plist>
