<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-100</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>a</key>
		<integer>-80</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>a</key>
		<integer>-80</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>-30</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-20</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>e</key>
		<integer>0</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>e</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
