<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.ss01</key>
	<string>A_.ss01.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.ss01</key>
	<string>B_.ss01.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.ss01</key>
	<string>C_.ss01.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.ss01</key>
	<string>D_.ss01.glif</string>
	<key>D.ss02</key>
	<string>D_.ss02.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.ss01</key>
	<string>E_.ss01.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.ss01</key>
	<string>F_.ss01.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.ss01</key>
	<string>G_.ss01.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.ss01</key>
	<string>H_.ss01.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.ss01</key>
	<string>L_.ss01.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.ss01</key>
	<string>M_.ss01.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.ss01</key>
	<string>O_.ss01.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.ss01</key>
	<string>P_.ss01.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.ss01</key>
	<string>Q_.ss01.glif</string>
	<key>Q_u</key>
	<string>Q__u.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.ss01</key>
	<string>R_.ss01.glif</string>
	<key>R_stroke</key>
	<string>R__stroke.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.ss01</key>
	<string>S_.ss01.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.ss01</key>
	<string>T_.ss01.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.ss01</key>
	<string>U_.ss01.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.ss01</key>
	<string>V_.ss01.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a_hook</key>
	<string>a_hook.glif</string>
	<key>a_macr</key>
	<string>a_macr.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.ss01</key>
	<string>ampersand.ss01.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b_strok</key>
	<string>b_strok.glif</string>
	<key>blason</key>
	<string>blason.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c_hook</key>
	<string>c_hook.glif</string>
	<key>c_ra</key>
	<string>c_ra.glif</string>
	<key>c_strok</key>
	<string>c_strok.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>con</key>
	<string>con.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d_strok</key>
	<string>d_strok.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e_hook</key>
	<string>e_hook.glif</string>
	<key>e_macr</key>
	<string>e_macr.glif</string>
	<key>emspace</key>
	<string>emspace.glif</string>
	<key>enspace</key>
	<string>enspace.glif</string>
	<key>etfin</key>
	<string>etfin.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>fourperemspace</key>
	<string>fourperemspace.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>g_ra</key>
	<string>g_ra.glif</string>
	<key>g_ring</key>
	<string>g_ring.glif</string>
	<key>g_stroke</key>
	<string>g_stroke.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h_ring</key>
	<string>h_ring.glif</string>
	<key>h_strok</key>
	<string>h_strok.glif</string>
	<key>hairspace</key>
	<string>hairspace.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i_hook</key>
	<string>i_hook.glif</string>
	<key>i_macr</key>
	<string>i_macr.glif</string>
	<key>i_ring</key>
	<string>i_ring.glif</string>
	<key>idotless</key>
	<string>idotless.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l_strok</key>
	<string>l_strok.glif</string>
	<key>longs</key>
	<string>longs.glif</string>
	<key>longs_longs</key>
	<string>longs_longs.glif</string>
	<key>longs_strok</key>
	<string>longs_strok.glif</string>
	<key>longs_t</key>
	<string>longs_t.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m_macr</key>
	<string>m_macr.glif</string>
	<key>m_urrot</key>
	<string>m_urrot.glif</string>
	<key>m_urrot.ss01</key>
	<string>m_urrot.ss01.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n_macr</key>
	<string>n_macr.glif</string>
	<key>n_urrot</key>
	<string>n_urrot.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o_hook</key>
	<string>o_hook.glif</string>
	<key>o_macr</key>
	<string>o_macr.glif</string>
	<key>o_ra</key>
	<string>o_ra.glif</string>
	<key>o_tilde</key>
	<string>o_tilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p_bardes</key>
	<string>p_bardes.glif</string>
	<key>p_flour</key>
	<string>p_flour.glif</string>
	<key>p_macr</key>
	<string>p_macr.glif</string>
	<key>p_p_flour</key>
	<string>p_p_flour.glif</string>
	<key>p_ra</key>
	<string>p_ra.glif</string>
	<key>p_urrot</key>
	<string>p_urrot.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q_bardes</key>
	<string>q_bardes.glif</string>
	<key>q_etfin</key>
	<string>q_etfin.glif</string>
	<key>q_etfin_ra</key>
	<string>q_etfin_ra.glif</string>
	<key>q_etfin_ring</key>
	<string>q_etfin_ring.glif</string>
	<key>q_macr</key>
	<string>q_macr.glif</string>
	<key>q_ra</key>
	<string>q_ra.glif</string>
	<key>q_ring</key>
	<string>q_ring.glif</string>
	<key>q_strok</key>
	<string>q_strok.glif</string>
	<key>q_urrot</key>
	<string>q_urrot.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.ss01</key>
	<string>r.ss01.glif</string>
	<key>r_hook</key>
	<string>r_hook.glif</string>
	<key>r_macr</key>
	<string>r_macr.glif</string>
	<key>r_ra</key>
	<string>r_ra.glif</string>
	<key>r_ring</key>
	<string>r_ring.glif</string>
	<key>r_strok</key>
	<string>r_strok.glif</string>
	<key>rum</key>
	<string>rum.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t_acute</key>
	<string>t_acute.glif</string>
	<key>t_ra</key>
	<string>t_ra.glif</string>
	<key>t_stroke</key>
	<string>t_stroke.glif</string>
	<key>t_tilde</key>
	<string>t_tilde.glif</string>
	<key>thinspace</key>
	<string>thinspace.glif</string>
	<key>threeperemspace</key>
	<string>threeperemspace.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u_macr</key>
	<string>u_macr.glif</string>
	<key>us_ra</key>
	<string>us_ra.glif</string>
	<key>usmod</key>
	<string>usmod.glif</string>
	<key>usmod.ss01</key>
	<string>usmod.ss01.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.ss01</key>
	<string>z.ss01.glif</string>
</dict>
</plist>
