<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>glyphOrder</string>
			<key>value</key>
			<array>
				<string>.notdef</string>
				<string>emspace</string>
				<string>enspace</string>
				<string>threeperemspace</string>
				<string>fourperemspace</string>
				<string>space</string>
				<string>thinspace</string>
				<string>hairspace</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>Y</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Disable Subroutines</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Disable autohinting for glyphs</string>
			<key>value</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>Y</string>
			</array>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>E0EF3C68-8D2B-44C3-ACB4-9AEF12AB2776</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>space</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>Y</string>
	</array>
	<key>com.schriftgestaltung.master.name</key>
	<string>Initials 45 mm</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>emspace</string>
		<string>enspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>space</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>Y</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>emspace</key>
		<string>uni2003</string>
		<key>enspace</key>
		<string>uni2002</string>
		<key>fourperemspace</key>
		<string>uni2005</string>
		<key>hairspace</key>
		<string>uni200A</string>
		<key>thinspace</key>
		<string>uni2009</string>
		<key>threeperemspace</key>
		<string>uni2004</string>
	</dict>
</dict>
</plist>
