<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>720</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>Copyright (c) 2019 ANRT. All rights reserved.</string>
	<key>descender</key>
	<integer>-280</integer>
	<key>familyName</key>
	<string>Spira</string>
	<key>openTypeHeadCreated</key>
	<string>2019/04/19 17:59:52</string>
	<key>openTypeNameDescription</key>
	<string>Spira 110R, Proto-Roman first used in Venice by Johannes and Vindelinus de Spira for Cicero’s Epistolae ad familiares in 1469 and used until 1473 by Vindelinus.

Type design workshop at ENSBA Lyon and Bibliothèque municipale de Lyon, March 2017.

Sources: Opera, Cyprianus, 1471 &amp; Geographiae libri, Strabon, 1472.

Workshop participants: Marika Belle, Lucile Boutin, Ana Brena, Louis Brousseaud, Constance Burger-Leenhardt, Charlotte Carletto, Anais Chappelet, Elorah Connil, Aurelie Massa, Noemie da Cruz, Marie Doz, Camille Houel, Sarah Millet, Claire Mouton, Simon Penard, Marie Sophie Robert.

Font designed and produced by Alexis Faudot and Rafael Ribas, directed by Jérôme Knebusch, Atelier National de Recherche Typographqiue (ANRT), Nancy.

Copyright (c) 2019 ANRT. All rights reserved.</string>
	<key>openTypeNameDesigner</key>
	<string>Alexis Faudot, Rafael Ribas</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.anrt-nancy.fr</string>
	<key>openTypeNameLicense</key>
	<string>SIL OPEN FONT LICENSE (OFL 1.1)</string>
	<key>openTypeNameLicenseURL</key>
	<string>https://opensource.org/licenses/OFL-1.1</string>
	<key>openTypeNameManufacturer</key>
	<string>ANRT</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.anrt-nancy.fr</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Proto-Roman 110R</string>
	<key>openTypeNameVersion</key>
	<string>1.1</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array>
		<integer>2</integer>
	</array>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>ANRT</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>760</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>310</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-10</integer>
		<integer>0</integer>
		<integer>390</integer>
		<integer>400</integer>
		<integer>700</integer>
		<integer>710</integer>
		<integer>720</integer>
		<integer>730</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Spira-Proto-Roman110R</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-310</integer>
		<integer>-300</integer>
	</array>
	<key>styleMapFamilyName</key>
	<string>Spira Proto-Roman 110R</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Proto-Roman 110R</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>390</integer>
</dict>
</plist>
