<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array/>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>glyphOrder</string>
			<key>value</key>
			<array>
				<string>.notdef</string>
				<string>emspace</string>
				<string>enspace</string>
				<string>threeperemspace</string>
				<string>fourperemspace</string>
				<string>space</string>
				<string>thinspace</string>
				<string>hairspace</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>Q.ss01</string>
				<string>Q_u</string>
				<string>Q_u.ss01</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>a</string>
				<string>a_macr</string>
				<string>b</string>
				<string>c</string>
				<string>c_t</string>
				<string>d</string>
				<string>d_strok</string>
				<string>e</string>
				<string>e_macr</string>
				<string>e_ogon</string>
				<string>f</string>
				<string>f_f</string>
				<string>f_i</string>
				<string>f_l</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>i_macr</string>
				<string>i_j</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>l_strok</string>
				<string>m</string>
				<string>m_macr</string>
				<string>n</string>
				<string>o</string>
				<string>o_macr</string>
				<string>p</string>
				<string>p_bardes</string>
				<string>p_flour</string>
				<string>p_macr</string>
				<string>q</string>
				<string>q_bardes</string>
				<string>q_etfin</string>
				<string>q_ra</string>
				<string>q_bardes_ra</string>
				<string>q_p</string>
				<string>q_strok</string>
				<string>r</string>
				<string>s</string>
				<string>longs</string>
				<string>longs_i</string>
				<string>longs_f</string>
				<string>longs_longs</string>
				<string>longs_strok</string>
				<string>longs_t</string>
				<string>t</string>
				<string>t_acute</string>
				<string>u</string>
				<string>u_macr</string>
				<string>v</string>
				<string>v.ss01</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>alpha</string>
				<string>theta</string>
				<string>pi</string>
				<string>phi</string>
				<string>psi</string>
				<string>omega</string>
				<string>omegatonos</string>
				<string>ampersand</string>
				<string>rum</string>
				<string>us</string>
				<string>period</string>
				<string>colon</string>
				<string>question</string>
				<string>hyphen</string>
				<string>bardes</string>
				<string>macr</string>
				<string>ogon</string>
				<string>ra</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Use Typo Metrics</string>
			<key>value</key>
			<true/>
		</dict>
	</array>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>4253F1EF-A5B5-4BB5-BE01-BA7FF064837C</key>
			<dict>
				<key>nV</key>
				<string>80</string>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>4253F1EF-A5B5-4BB5-BE01-BA7FF064837C</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>space</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>Q.ss01</string>
		<string>Q_u</string>
		<string>Q_u.ss01</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>a_macr</string>
		<string>b</string>
		<string>c</string>
		<string>c_t</string>
		<string>d</string>
		<string>d_strok</string>
		<string>e</string>
		<string>e_macr</string>
		<string>e_ogon</string>
		<string>f</string>
		<string>f_f</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>i_macr</string>
		<string>i_j</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>l_strok</string>
		<string>m</string>
		<string>m_macr</string>
		<string>n</string>
		<string>o</string>
		<string>o_macr</string>
		<string>p</string>
		<string>p_bardes</string>
		<string>p_flour</string>
		<string>p_macr</string>
		<string>q</string>
		<string>q_bardes</string>
		<string>q_etfin</string>
		<string>q_ra</string>
		<string>q_bardes_ra</string>
		<string>q_p</string>
		<string>q_strok</string>
		<string>r</string>
		<string>s</string>
		<string>longs</string>
		<string>longs_i</string>
		<string>longs_f</string>
		<string>longs_longs</string>
		<string>longs_strok</string>
		<string>longs_t</string>
		<string>t</string>
		<string>t_acute</string>
		<string>u</string>
		<string>u_macr</string>
		<string>v</string>
		<string>v.ss01</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>alpha</string>
		<string>theta</string>
		<string>pi</string>
		<string>phi</string>
		<string>psi</string>
		<string>omega</string>
		<string>omegatonos</string>
		<string>ampersand</string>
		<string>rum</string>
		<string>us</string>
		<string>period</string>
		<string>colon</string>
		<string>question</string>
		<string>hyphen</string>
		<string>bardes</string>
		<string>macr</string>
		<string>ogon</string>
		<string>ra</string>
	</array>
	<key>com.schriftgestaltung.master.name</key>
	<string>Proto-Roman 110R</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>space</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>Q.ss01</string>
		<string>Q_u</string>
		<string>Q_u.ss01</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>a_macr</string>
		<string>b</string>
		<string>c</string>
		<string>c_t</string>
		<string>d</string>
		<string>d_strok</string>
		<string>e</string>
		<string>e_macr</string>
		<string>e_ogon</string>
		<string>f</string>
		<string>f_f</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>i_macr</string>
		<string>i_j</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>l_strok</string>
		<string>m</string>
		<string>m_macr</string>
		<string>n</string>
		<string>o</string>
		<string>o_macr</string>
		<string>p</string>
		<string>p_bardes</string>
		<string>p_flour</string>
		<string>p_macr</string>
		<string>q</string>
		<string>q_bardes</string>
		<string>q_etfin</string>
		<string>q_ra</string>
		<string>q_bardes_ra</string>
		<string>q_strok</string>
		<string>r</string>
		<string>s</string>
		<string>longs</string>
		<string>longs_f</string>
		<string>longs_longs</string>
		<string>longs_strok</string>
		<string>longs_t</string>
		<string>t</string>
		<string>t_acute</string>
		<string>u</string>
		<string>u_macr</string>
		<string>v</string>
		<string>v.ss01</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>alpha</string>
		<string>theta</string>
		<string>pi</string>
		<string>phi</string>
		<string>psi</string>
		<string>omega</string>
		<string>omegatonos</string>
		<string>ampersand</string>
		<string>rum</string>
		<string>us</string>
		<string>period</string>
		<string>colon</string>
		<string>question</string>
		<string>hyphen</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>emspace</key>
		<string>uni2003</string>
		<key>enspace</key>
		<string>uni2002</string>
		<key>fourperemspace</key>
		<string>uni2005</string>
		<key>hairspace</key>
		<string>uni200A</string>
		<key>rum</key>
		<string>uniA775</string>
		<key>thinspace</key>
		<string>uni2009</string>
		<key>threeperemspace</key>
		<string>uni2004</string>
	</dict>
</dict>
</plist>
