<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.ss01</key>
	<string>Q_.ss01.glif</string>
	<key>Q_strok</key>
	<string>Q__strok.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R_rot_ring</key>
	<string>R__rot_ring.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a_macr</key>
	<string>a_macr.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>bardes</key>
	<string>bardes.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c_dieresis</key>
	<string>c_dieresis.glif</string>
	<key>c_t</key>
	<string>c_t.glif</string>
	<key>con</key>
	<string>con.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d_strok</key>
	<string>d_strok.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e_macr</key>
	<string>e_macr.glif</string>
	<key>emspace</key>
	<string>emspace.glif</string>
	<key>enspace</key>
	<string>enspace.glif</string>
	<key>etfin</key>
	<string>etfin.glif</string>
	<key>etfin_ring</key>
	<string>etfin_ring.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_l</key>
	<string>f_l.glif</string>
	<key>fourperemspace</key>
	<string>fourperemspace.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hairspace</key>
	<string>hairspace.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i_dieresis</key>
	<string>i_dieresis.glif</string>
	<key>i_macr</key>
	<string>i_macr.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l_strok</key>
	<string>l_strok.glif</string>
	<key>longs</key>
	<string>longs.glif</string>
	<key>longs_i</key>
	<string>longs_i.glif</string>
	<key>longs_longs</key>
	<string>longs_longs.glif</string>
	<key>longs_t</key>
	<string>longs_t.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macr</key>
	<string>macr.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n_macr</key>
	<string>n_macr.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o_dieresis</key>
	<string>o_dieresis.glif</string>
	<key>o_macr</key>
	<string>o_macr.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p_bardes</key>
	<string>p_bardes.glif</string>
	<key>p_flour</key>
	<string>p_flour.glif</string>
	<key>p_macr</key>
	<string>p_macr.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q_acute</key>
	<string>q_acute.glif</string>
	<key>q_bardes</key>
	<string>q_bardes.glif</string>
	<key>q_bardes_dieresis</key>
	<string>q_bardes_dieresis.glif</string>
	<key>q_dieresis</key>
	<string>q_dieresis.glif</string>
	<key>q_etfin</key>
	<string>q_etfin.glif</string>
	<key>q_strok</key>
	<string>q_strok.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.ss01</key>
	<string>r.ss01.glif</string>
	<key>r_rot_c_dieresis</key>
	<string>r_rot_c_dieresis.glif</string>
	<key>rum</key>
	<string>rum.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s_dieresis</key>
	<string>s_dieresis.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t_macr</key>
	<string>t_macr.glif</string>
	<key>thinspace</key>
	<string>thinspace.glif</string>
	<key>threeperemspace</key>
	<string>threeperemspace.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u_macr</key>
	<string>u_macr.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v_strok</key>
	<string>v_strok.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.ss01</key>
	<string>z.ss01.glif</string>
</dict>
</plist>
