<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>C</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-80</integer>
		<key>V</key>
		<integer>-150</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-10</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>O</key>
		<integer>-30</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>e</key>
		<integer>-50</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>I</key>
		<integer>0</integer>
		<key>M</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>X</key>
		<integer>-60</integer>
		<key>public.kern2.A</key>
		<integer>-40</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>a</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-60</integer>
		<key>i</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-60</integer>
		<key>r</key>
		<integer>-20</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>H</key>
		<integer>-130</integer>
		<key>O</key>
		<integer>-155</integer>
		<key>Q</key>
		<integer>-150</integer>
		<key>public.kern2.A</key>
		<integer>-200</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>G</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-60</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>B</key>
		<integer>0</integer>
		<key>a</key>
		<integer>-100</integer>
		<key>e</key>
		<integer>-120</integer>
		<key>i</key>
		<integer>-100</integer>
		<key>o</key>
		<integer>-120</integer>
		<key>r</key>
		<integer>-80</integer>
		<key>u</key>
		<integer>-100</integer>
		<key>y</key>
		<integer>-100</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-150</integer>
		<key>O</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-150</integer>
		<key>e</key>
		<integer>-170</integer>
		<key>i</key>
		<integer>-140</integer>
		<key>space</key>
		<integer>-50</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>T</key>
		<integer>-100</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>d</key>
		<integer>-5</integer>
		<key>e</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>-10</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-40</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-10</integer>
	</dict>
	<key>f_f</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-30</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>e</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>v</key>
		<integer>-20</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>T</key>
		<integer>-100</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.oe</key>
	<dict>
		<key>T</key>
		<integer>-80</integer>
		<key>e</key>
		<integer>-110</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>T</key>
		<integer>-100</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-15</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>o</key>
		<integer>0</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>o</key>
		<integer>-15</integer>
	</dict>
</dict>
</plist>
