<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>glyphOrder</string>
			<key>value</key>
			<array>
				<string>.notdef</string>
				<string>emspace</string>
				<string>enspace</string>
				<string>threeperemspace</string>
				<string>fourperemspace</string>
				<string>space</string>
				<string>thinspace</string>
				<string>hairspace</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>K.alt</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Y.alt</string>
				<string>Y.alt2</string>
				<string>Z</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>ccedilla</string>
				<string>c_t</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>f_b</string>
				<string>f_f</string>
				<string>f_i</string>
				<string>f_l</string>
				<string>f_f_i</string>
				<string>f_f_l</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>r_a</string>
				<string>r_o</string>
				<string>s</string>
				<string>t</string>
				<string>t_a</string>
				<string>t_i</string>
				<string>t_j</string>
				<string>t_t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>z.ss01</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>ampersand</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>period</string>
				<string>colon</string>
				<string>comma</string>
				<string>semicolon</string>
				<string>question</string>
				<string>exclam</string>
				<string>hyphen</string>
				<string>quotesingle</string>
				<string>asterisk</string>
				<string>paragraph</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Use Typo Metrics</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Disable Subroutines</string>
			<key>value</key>
			<true/>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>UUID0</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>space</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>K.alt</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Y.alt</string>
		<string>Y.alt2</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>c_t</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>f_b</string>
		<string>f_f</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>r_a</string>
		<string>r_o</string>
		<string>s</string>
		<string>t</string>
		<string>t_a</string>
		<string>t_i</string>
		<string>t_j</string>
		<string>t_t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>z.ss01</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>ampersand</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>period</string>
		<string>colon</string>
		<string>comma</string>
		<string>semicolon</string>
		<string>question</string>
		<string>exclam</string>
		<string>hyphen</string>
		<string>quotesingle</string>
		<string>asterisk</string>
		<string>paragraph</string>
	</array>
	<key>com.schriftgestaltung.master.name</key>
	<string>Great-Primer 18</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>space</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>c_t</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>f_f</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>r_a</string>
		<string>r_o</string>
		<string>s</string>
		<string>t</string>
		<string>t_a</string>
		<string>t_i</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>z.ss01</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>ampersand</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>period</string>
		<string>colon</string>
		<string>comma</string>
		<string>semicolon</string>
		<string>question</string>
		<string>exclam</string>
		<string>hyphen</string>
		<string>quotesingle</string>
		<string>paragraph</string>
		<string>mark</string>
		<string>mark_alt</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>emspace</key>
		<string>uni2003</string>
		<key>enspace</key>
		<string>uni2002</string>
		<key>fourperemspace</key>
		<string>uni2005</string>
		<key>hairspace</key>
		<string>uni200A</string>
		<key>thinspace</key>
		<string>uni2009</string>
		<key>threeperemspace</key>
		<string>uni2004</string>
	</dict>
</dict>
</plist>
