<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a_hook</key>
	<string>a_hook.glif</string>
	<key>a_macr</key>
	<string>a_macr.glif</string>
	<key>a_n</key>
	<string>a_n.glif</string>
	<key>a_r</key>
	<string>a_r.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>apomod</key>
	<string>apomod.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b_e</key>
	<string>b_e.glif</string>
	<key>b_o</key>
	<string>b_o.glif</string>
	<key>b_r</key>
	<string>b_r.glif</string>
	<key>b_s</key>
	<string>b_s.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c_a</key>
	<string>c_a.glif</string>
	<key>c_c</key>
	<string>c_c.glif</string>
	<key>c_e</key>
	<string>c_e.glif</string>
	<key>c_h</key>
	<string>c_h.glif</string>
	<key>c_hook</key>
	<string>c_hook.glif</string>
	<key>c_i</key>
	<string>c_i.glif</string>
	<key>c_k</key>
	<string>c_k.glif</string>
	<key>c_macr</key>
	<string>c_macr.glif</string>
	<key>c_o</key>
	<string>c_o.glif</string>
	<key>c_o_macr</key>
	<string>c_o_macr.glif</string>
	<key>c_t</key>
	<string>c_t.glif</string>
	<key>c_t_i</key>
	<string>c_t_i.glif</string>
	<key>c_u</key>
	<string>c_u.glif</string>
	<key>c_u_macr</key>
	<string>c_u_macr.glif</string>
	<key>ce_e_macr</key>
	<string>ce_e_macr.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>con</key>
	<string>con.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d_e</key>
	<string>d_e.glif</string>
	<key>d_e_hook</key>
	<string>d_e_hook.glif</string>
	<key>d_e_macr</key>
	<string>d_e_macr.glif</string>
	<key>d_o</key>
	<string>d_o.glif</string>
	<key>d_strok</key>
	<string>d_strok.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e_etfin</key>
	<string>e_etfin.glif</string>
	<key>e_hook</key>
	<string>e_hook.glif</string>
	<key>e_macr</key>
	<string>e_macr.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>emspace</key>
	<string>emspace.glif</string>
	<key>enspace</key>
	<string>enspace.glif</string>
	<key>etfin</key>
	<string>etfin.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_a</key>
	<string>f_a.glif</string>
	<key>f_e</key>
	<string>f_e.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_i</key>
	<string>f_i.glif</string>
	<key>f_l</key>
	<string>f_l.glif</string>
	<key>f_o</key>
	<string>f_o.glif</string>
	<key>f_r</key>
	<string>f_r.glif</string>
	<key>f_u</key>
	<string>f_u.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fourperemspace</key>
	<string>fourperemspace.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g_e</key>
	<string>g_e.glif</string>
	<key>g_e_macr</key>
	<string>g_e_macr.glif</string>
	<key>g_hook</key>
	<string>g_hook.glif</string>
	<key>g_i</key>
	<string>g_i.glif</string>
	<key>g_macr</key>
	<string>g_macr.glif</string>
	<key>g_o</key>
	<string>g_o.glif</string>
	<key>g_r</key>
	<string>g_r.glif</string>
	<key>g_u</key>
	<string>g_u.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h_e</key>
	<string>h_e.glif</string>
	<key>h_e_macr</key>
	<string>h_e_macr.glif</string>
	<key>h_o</key>
	<string>h_o.glif</string>
	<key>hairspace</key>
	<string>hairspace.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i_j</key>
	<string>i_j.glif</string>
	<key>i_macr</key>
	<string>i_macr.glif</string>
	<key>i_n</key>
	<string>i_n.glif</string>
	<key>i_u</key>
	<string>i_u.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l_hook</key>
	<string>l_hook.glif</string>
	<key>l_i</key>
	<string>l_i.glif</string>
	<key>l_u</key>
	<string>l_u.glif</string>
	<key>longs</key>
	<string>longs.glif</string>
	<key>longs_c_h</key>
	<string>longs_c_h.glif</string>
	<key>longs_i</key>
	<string>longs_i.glif</string>
	<key>longs_longs</key>
	<string>longs_longs.glif</string>
	<key>longs_strok</key>
	<string>longs_strok.glif</string>
	<key>longs_t</key>
	<string>longs_t.glif</string>
	<key>longs_t_i</key>
	<string>longs_t_i.glif</string>
	<key>longs_t_u</key>
	<string>longs_t_u.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m_macr</key>
	<string>m_macr.glif</string>
	<key>macr</key>
	<string>macr.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n_i</key>
	<string>n_i.glif</string>
	<key>n_macr</key>
	<string>n_macr.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o_e</key>
	<string>o_e.glif</string>
	<key>o_macr</key>
	<string>o_macr.glif</string>
	<key>o_r</key>
	<string>o_r.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p_bardes</key>
	<string>p_bardes.glif</string>
	<key>p_e</key>
	<string>p_e.glif</string>
	<key>p_e_macr</key>
	<string>p_e_macr.glif</string>
	<key>p_hook</key>
	<string>p_hook.glif</string>
	<key>p_macr</key>
	<string>p_macr.glif</string>
	<key>p_o</key>
	<string>p_o.glif</string>
	<key>p_o_macr</key>
	<string>p_o_macr.glif</string>
	<key>p_p</key>
	<string>p_p.glif</string>
	<key>p_p_flour</key>
	<string>p_p_flour.glif</string>
	<key>p_r</key>
	<string>p_r.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q_etfin</key>
	<string>q_etfin.glif</string>
	<key>q_etfin_macr</key>
	<string>q_etfin_macr.glif</string>
	<key>q_etfin_ra</key>
	<string>q_etfin_ra.glif</string>
	<key>q_hook</key>
	<string>q_hook.glif</string>
	<key>q_macr</key>
	<string>q_macr.glif</string>
	<key>q_ra</key>
	<string>q_ra.glif</string>
	<key>q_strok</key>
	<string>q_strok.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.ss01</key>
	<string>r.ss01.glif</string>
	<key>r_a</key>
	<string>r_a.glif</string>
	<key>r_a_macr</key>
	<string>r_a_macr.glif</string>
	<key>r_e</key>
	<string>r_e.glif</string>
	<key>r_macr</key>
	<string>r_macr.glif</string>
	<key>r_o</key>
	<string>r_o.glif</string>
	<key>rum</key>
	<string>rum.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.ss01</key>
	<string>s.ss01.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t_a</key>
	<string>t_a.glif</string>
	<key>t_acute</key>
	<string>t_acute.glif</string>
	<key>t_e</key>
	<string>t_e.glif</string>
	<key>t_e_macr</key>
	<string>t_e_macr.glif</string>
	<key>t_i</key>
	<string>t_i.glif</string>
	<key>t_o</key>
	<string>t_o.glif</string>
	<key>t_t</key>
	<string>t_t.glif</string>
	<key>t_u</key>
	<string>t_u.glif</string>
	<key>t_u_macr</key>
	<string>t_u_macr.glif</string>
	<key>t_urrot</key>
	<string>t_urrot.glif</string>
	<key>thinspace</key>
	<string>thinspace.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threeperemspace</key>
	<string>threeperemspace.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u_hook</key>
	<string>u_hook.glif</string>
	<key>u_i</key>
	<string>u_i.glif</string>
	<key>u_macr</key>
	<string>u_macr.glif</string>
	<key>u_ring</key>
	<string>u_ring.glif</string>
	<key>urrot</key>
	<string>urrot.glif</string>
	<key>us</key>
	<string>us.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v_e</key>
	<string>v_e.glif</string>
	<key>v_hook</key>
	<string>v_hook.glif</string>
	<key>v_longhook</key>
	<string>v_longhook.glif</string>
	<key>v_o</key>
	<string>v_o.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y_dieresis</key>
	<string>y_dieresis.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
