<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>l_strok</key>
	<dict>
		<key>h</key>
		<integer>130</integer>
		<key>l</key>
		<integer>130</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>n</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
