<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array/>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>glyphOrder</string>
			<key>value</key>
			<array>
				<string>.notdef</string>
				<string>emspace</string>
				<string>enspace</string>
				<string>threeperemspace</string>
				<string>fourperemspace</string>
				<string>space</string>
				<string>thinspace</string>
				<string>hairspace</string>
				<string>A</string>
				<string>A.ss01</string>
				<string>B</string>
				<string>B.ss01</string>
				<string>C</string>
				<string>C.ss01</string>
				<string>D</string>
				<string>D.ss01</string>
				<string>D.ss02</string>
				<string>E</string>
				<string>E.ss01</string>
				<string>F</string>
				<string>F.ss01</string>
				<string>G</string>
				<string>G.ss01</string>
				<string>H</string>
				<string>H.ss01</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>L.ss01</string>
				<string>M</string>
				<string>M.ss01</string>
				<string>N</string>
				<string>O</string>
				<string>O.ss01</string>
				<string>P</string>
				<string>P.ss01</string>
				<string>Q</string>
				<string>Q_u</string>
				<string>Q.ss01</string>
				<string>Q.ss02</string>
				<string>R</string>
				<string>R_stroke</string>
				<string>R.ss01</string>
				<string>R.ss02</string>
				<string>S</string>
				<string>S.ss01</string>
				<string>T</string>
				<string>T.ss01</string>
				<string>U</string>
				<string>U.ss01</string>
				<string>V</string>
				<string>V.ss01</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>a</string>
				<string>a_hook</string>
				<string>a_macr</string>
				<string>b</string>
				<string>b_strok</string>
				<string>c</string>
				<string>c_hook</string>
				<string>c_ra</string>
				<string>c_strok</string>
				<string>d</string>
				<string>d_strok</string>
				<string>e</string>
				<string>e_hook</string>
				<string>e_macr</string>
				<string>f</string>
				<string>f_f</string>
				<string>g</string>
				<string>g_ra</string>
				<string>g_ring</string>
				<string>g_stroke</string>
				<string>g.ss01</string>
				<string>h</string>
				<string>h_strok</string>
				<string>h_ring</string>
				<string>i</string>
				<string>idotless</string>
				<string>i_hook</string>
				<string>i_macr</string>
				<string>i_ring</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>l_strok</string>
				<string>m</string>
				<string>m_macr</string>
				<string>m_urrot</string>
				<string>m_urrot.ss01</string>
				<string>n</string>
				<string>n_macr</string>
				<string>n_urrot</string>
				<string>o</string>
				<string>o_hook</string>
				<string>o_macr</string>
				<string>o_ra</string>
				<string>o_tilde</string>
				<string>p</string>
				<string>p_bardes</string>
				<string>p_flour</string>
				<string>p_p_flour</string>
				<string>p_macr</string>
				<string>p_ra</string>
				<string>p_urrot</string>
				<string>q</string>
				<string>q_bardes</string>
				<string>q_etfin</string>
				<string>q_etfin_ra</string>
				<string>q_etfin_ring</string>
				<string>q_macr</string>
				<string>q_ra</string>
				<string>q_ring</string>
				<string>q_strok</string>
				<string>q_urrot</string>
				<string>r</string>
				<string>r_hook</string>
				<string>r_macr</string>
				<string>r_ra</string>
				<string>r_strok</string>
				<string>r.ss01</string>
				<string>r_ring</string>
				<string>s</string>
				<string>longs</string>
				<string>longs_strok</string>
				<string>longs_longs</string>
				<string>longs_t</string>
				<string>t</string>
				<string>t_acute</string>
				<string>t_ra</string>
				<string>t_stroke</string>
				<string>t_tilde</string>
				<string>u</string>
				<string>u_macr</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>z.ss01</string>
				<string>ampersand</string>
				<string>ampersand.ss01</string>
				<string>con</string>
				<string>etfin</string>
				<string>rum</string>
				<string>usmod</string>
				<string>usmod.ss01</string>
				<string>us_ra</string>
				<string>comma</string>
				<string>hyphen</string>
				<string>period</string>
				<string>periodcentered</string>
				<string>colon</string>
				<string>bardes</string>
				<string>flour</string>
				<string>hook</string>
				<string>longhook</string>
				<string>macr</string>
				<string>ra</string>
				<string>ring</string>
				<string>tailstrok</string>
				<string>tilde</string>
				<string>urrot</string>
				<string>blason</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Use Typo Metrics</string>
			<key>value</key>
			<true/>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>31E65565-C22C-4792-86EE-013C6F95D489</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>space</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>A</string>
		<string>A.ss01</string>
		<string>B</string>
		<string>B.ss01</string>
		<string>C</string>
		<string>C.ss01</string>
		<string>D</string>
		<string>D.ss01</string>
		<string>D.ss02</string>
		<string>E</string>
		<string>E.ss01</string>
		<string>F</string>
		<string>F.ss01</string>
		<string>G</string>
		<string>G.ss01</string>
		<string>H</string>
		<string>H.ss01</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>L.ss01</string>
		<string>M</string>
		<string>M.ss01</string>
		<string>N</string>
		<string>O</string>
		<string>O.ss01</string>
		<string>P</string>
		<string>P.ss01</string>
		<string>Q</string>
		<string>Q_u</string>
		<string>Q.ss01</string>
		<string>Q.ss02</string>
		<string>R</string>
		<string>R_stroke</string>
		<string>R.ss01</string>
		<string>R.ss02</string>
		<string>S</string>
		<string>S.ss01</string>
		<string>T</string>
		<string>T.ss01</string>
		<string>U</string>
		<string>U.ss01</string>
		<string>V</string>
		<string>V.ss01</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>a_hook</string>
		<string>a_macr</string>
		<string>b</string>
		<string>b_strok</string>
		<string>c</string>
		<string>c_hook</string>
		<string>c_ra</string>
		<string>c_strok</string>
		<string>d</string>
		<string>d_strok</string>
		<string>e</string>
		<string>e_hook</string>
		<string>e_macr</string>
		<string>f</string>
		<string>f_f</string>
		<string>g</string>
		<string>g_ra</string>
		<string>g_ring</string>
		<string>g_stroke</string>
		<string>g.ss01</string>
		<string>h</string>
		<string>h_strok</string>
		<string>h_ring</string>
		<string>i</string>
		<string>idotless</string>
		<string>i_hook</string>
		<string>i_macr</string>
		<string>i_ring</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>l_strok</string>
		<string>m</string>
		<string>m_macr</string>
		<string>m_urrot</string>
		<string>m_urrot.ss01</string>
		<string>n</string>
		<string>n_macr</string>
		<string>n_urrot</string>
		<string>o</string>
		<string>o_hook</string>
		<string>o_macr</string>
		<string>o_ra</string>
		<string>o_tilde</string>
		<string>p</string>
		<string>p_bardes</string>
		<string>p_flour</string>
		<string>p_p_flour</string>
		<string>p_macr</string>
		<string>p_ra</string>
		<string>p_urrot</string>
		<string>q</string>
		<string>q_bardes</string>
		<string>q_etfin</string>
		<string>q_etfin_ra</string>
		<string>q_etfin_ring</string>
		<string>q_macr</string>
		<string>q_ra</string>
		<string>q_ring</string>
		<string>q_strok</string>
		<string>q_urrot</string>
		<string>r</string>
		<string>r_hook</string>
		<string>r_macr</string>
		<string>r_ra</string>
		<string>r_strok</string>
		<string>r.ss01</string>
		<string>r_ring</string>
		<string>s</string>
		<string>longs</string>
		<string>longs_strok</string>
		<string>longs_longs</string>
		<string>longs_t</string>
		<string>t</string>
		<string>t_acute</string>
		<string>t_ra</string>
		<string>t_stroke</string>
		<string>t_tilde</string>
		<string>u</string>
		<string>u_macr</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>z.ss01</string>
		<string>ampersand</string>
		<string>ampersand.ss01</string>
		<string>con</string>
		<string>etfin</string>
		<string>rum</string>
		<string>usmod</string>
		<string>usmod.ss01</string>
		<string>us_ra</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>periodcentered</string>
		<string>colon</string>
		<string>bardes</string>
		<string>flour</string>
		<string>hook</string>
		<string>longhook</string>
		<string>macr</string>
		<string>ra</string>
		<string>ring</string>
		<string>tailstrok</string>
		<string>tilde</string>
		<string>urrot</string>
		<string>blason</string>
	</array>
	<key>com.schriftgestaltung.master.name</key>
	<string>Hybrid 111R</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>space</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>A</string>
		<string>A.ss01</string>
		<string>B</string>
		<string>B.ss01</string>
		<string>C</string>
		<string>C.ss01</string>
		<string>D</string>
		<string>D.ss01</string>
		<string>D.ss02</string>
		<string>E</string>
		<string>E.ss01</string>
		<string>F</string>
		<string>F.ss01</string>
		<string>G</string>
		<string>G.ss01</string>
		<string>H</string>
		<string>H.ss01</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>L.ss01</string>
		<string>M</string>
		<string>M.ss01</string>
		<string>N</string>
		<string>O</string>
		<string>O.ss01</string>
		<string>P</string>
		<string>P.ss01</string>
		<string>Q</string>
		<string>Q_u</string>
		<string>Q.ss01</string>
		<string>Q.ss02</string>
		<string>R</string>
		<string>R_stroke</string>
		<string>R.ss01</string>
		<string>R.ss02</string>
		<string>S</string>
		<string>S.ss01</string>
		<string>T</string>
		<string>T.ss01</string>
		<string>U</string>
		<string>U.ss01</string>
		<string>V</string>
		<string>V.ss01</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>a_hook</string>
		<string>a_macr</string>
		<string>b</string>
		<string>b_strok</string>
		<string>c</string>
		<string>c_hook</string>
		<string>c_ra</string>
		<string>c_strok</string>
		<string>d</string>
		<string>d_strok</string>
		<string>e</string>
		<string>e_hook</string>
		<string>e_macr</string>
		<string>f</string>
		<string>f_f</string>
		<string>g</string>
		<string>g_ra</string>
		<string>g_ring</string>
		<string>g_stroke</string>
		<string>g.ss01</string>
		<string>h</string>
		<string>h_strok</string>
		<string>h_ring</string>
		<string>i</string>
		<string>idotless</string>
		<string>i_hook</string>
		<string>i_macr</string>
		<string>i_ring</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>l_strok</string>
		<string>m</string>
		<string>m_macr</string>
		<string>m_urrot</string>
		<string>m_urrot.ss01</string>
		<string>n</string>
		<string>n_macr</string>
		<string>n_urrot</string>
		<string>o</string>
		<string>o_hook</string>
		<string>o_macr</string>
		<string>o_ra</string>
		<string>o_tilde</string>
		<string>p</string>
		<string>p_bardes</string>
		<string>p_flour</string>
		<string>p_p_flour</string>
		<string>p_macr</string>
		<string>p_ra</string>
		<string>p_urrot</string>
		<string>q</string>
		<string>q_bardes</string>
		<string>q_etfin</string>
		<string>q_etfin_ra</string>
		<string>q_etfin_ring</string>
		<string>q_macr</string>
		<string>q_ra</string>
		<string>q_ring</string>
		<string>q_strok</string>
		<string>q_urrot</string>
		<string>r</string>
		<string>r_hook</string>
		<string>r_macr</string>
		<string>r_ra</string>
		<string>r_strok</string>
		<string>r.ss01</string>
		<string>r_ring</string>
		<string>s</string>
		<string>longs</string>
		<string>longs_strok</string>
		<string>longs_longs</string>
		<string>longs_t</string>
		<string>t</string>
		<string>t_acute</string>
		<string>t_ra</string>
		<string>t_stroke</string>
		<string>t_tilde</string>
		<string>u</string>
		<string>u_macr</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>z.ss01</string>
		<string>ampersand</string>
		<string>ampersand.ss01</string>
		<string>con</string>
		<string>etfin</string>
		<string>rum</string>
		<string>usmod</string>
		<string>usmod.ss01</string>
		<string>us_ra</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>periodcentered</string>
		<string>colon</string>
		<string>blason</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>con</key>
		<string>uniA76F</string>
		<key>emspace</key>
		<string>uni2003</string>
		<key>enspace</key>
		<string>uni2002</string>
		<key>etfin</key>
		<string>uniA76B</string>
		<key>fourperemspace</key>
		<string>uni2005</string>
		<key>hairspace</key>
		<string>uni200A</string>
		<key>idotless</key>
		<string>dotlessi</string>
		<key>rum</key>
		<string>uniA775</string>
		<key>thinspace</key>
		<string>uni2009</string>
		<key>threeperemspace</key>
		<string>uni2004</string>
		<key>usmod</key>
		<string>uniA770</string>
		<key>usmod.ss01</key>
		<string>uniA770.ss01</string>
	</dict>
</dict>
</plist>
