<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array/>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>glyphOrder</string>
			<key>value</key>
			<array>
				<string>.notdef</string>
				<string>emspace</string>
				<string>enspace</string>
				<string>threeperemspace</string>
				<string>fourperemspace</string>
				<string>space</string>
				<string>thinspace</string>
				<string>hairspace</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>M.ss01</string>
				<string>N</string>
				<string>N.ss01</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>Q_u</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>a</string>
				<string>a_macr</string>
				<string>a_m</string>
				<string>b</string>
				<string>b_hook</string>
				<string>b_strok</string>
				<string>c</string>
				<string>c_macr</string>
				<string>c_ra</string>
				<string>c_t</string>
				<string>c_t_macr</string>
				<string>d</string>
				<string>d_strok</string>
				<string>e</string>
				<string>e_macr</string>
				<string>e_hook</string>
				<string>e_ogon</string>
				<string>e_tilde</string>
				<string>f</string>
				<string>f_f</string>
				<string>f_i</string>
				<string>f_i.ss01</string>
				<string>g</string>
				<string>g_hook</string>
				<string>g_ring</string>
				<string>g_e</string>
				<string>g_urrot</string>
				<string>h</string>
				<string>h_hook</string>
				<string>h_strok</string>
				<string>i</string>
				<string>i.calt</string>
				<string>i_macr</string>
				<string>i_m</string>
				<string>i_n</string>
				<string>i_u</string>
				<string>i_u_macr</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>l_strok</string>
				<string>l_i</string>
				<string>m</string>
				<string>m.calt</string>
				<string>m_macr</string>
				<string>m_ring</string>
				<string>m_urrot</string>
				<string>n</string>
				<string>n.calt</string>
				<string>n_macr</string>
				<string>n_urrot</string>
				<string>n_i</string>
				<string>o</string>
				<string>o_macr</string>
				<string>o_tilde</string>
				<string>p</string>
				<string>p.ss01</string>
				<string>p.calt</string>
				<string>p_bardes</string>
				<string>p_flour</string>
				<string>p_macr</string>
				<string>p_tilde</string>
				<string>p_urrot</string>
				<string>p_p_flour</string>
				<string>q</string>
				<string>q_bardes</string>
				<string>q_bardes_ra</string>
				<string>q_etfin</string>
				<string>q_macr</string>
				<string>q_ra</string>
				<string>q_ring</string>
				<string>q_strok</string>
				<string>q_strok_macr</string>
				<string>q_strok_ra</string>
				<string>q_urrot</string>
				<string>r</string>
				<string>r.ss01</string>
				<string>r.calt</string>
				<string>r_macr</string>
				<string>r_hook</string>
				<string>r_rot</string>
				<string>r_tilde</string>
				<string>r_a</string>
				<string>r_i</string>
				<string>s</string>
				<string>longs</string>
				<string>longs_etfin</string>
				<string>longs_b_stock</string>
				<string>longs_strok</string>
				<string>longs_i</string>
				<string>longs_f</string>
				<string>longs_longs</string>
				<string>longs_t</string>
				<string>longs_colon</string>
				<string>t</string>
				<string>t_acute</string>
				<string>t_hook</string>
				<string>t_macr</string>
				<string>t_tilde</string>
				<string>t_ra</string>
				<string>t_a</string>
				<string>t_i</string>
				<string>t_u</string>
				<string>t_u_macr</string>
				<string>u</string>
				<string>u_macr</string>
				<string>u_hook</string>
				<string>u_calt</string>
				<string>u_ring</string>
				<string>u_tilde</string>
				<string>u_urrot</string>
				<string>u_i</string>
				<string>v</string>
				<string>v_hook</string>
				<string>w</string>
				<string>x</string>
				<string>x_ring</string>
				<string>x_urrot</string>
				<string>y</string>
				<string>z</string>
				<string>gamma</string>
				<string>mu</string>
				<string>theta</string>
				<string>etc</string>
				<string>upsilon</string>
				<string>omega</string>
				<string>pamphyliandigamma</string>
				<string>leo</string>
				<string>Eta</string>
				<string>alpha</string>
				<string>beta</string>
				<string>delta</string>
				<string>epsilon</string>
				<string>Theta</string>
				<string>theta</string>
				<string>iota</string>
				<string>iota_dieresis</string>
				<string>kappa</string>
				<string>lambda</string>
				<string>xi</string>
				<string>omicron</string>
				<string>pi</string>
				<string>rho</string>
				<string>tau</string>
				<string>upsilon_dieresis</string>
				<string>phi</string>
				<string>chi</string>
				<string>san</string>
				<string>deicoptic</string>
				<string>ampersand</string>
				<string>etc</string>
				<string>con</string>
				<string>etfin</string>
				<string>rum</string>
				<string>section</string>
				<string>us</string>
				<string>usmod</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>period</string>
				<string>ellipsis</string>
				<string>exclam</string>
				<string>semicolon</string>
				<string>comma</string>
				<string>colon</string>
				<string>question</string>
				<string>hyphen</string>
				<string>bardes</string>
				<string>flour</string>
				<string>hook</string>
				<string>longhook</string>
				<string>macr</string>
				<string>longmacr</string>
				<string>ra</string>
				<string>ring</string>
				<string>tilde</string>
				<string>tildecomb</string>
				<string>urrot</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Use Typo Metrics</string>
			<key>value</key>
			<true/>
		</dict>
	</array>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>7C1725DE-9D81-4366-9E02-5B418FA849BA</key>
			<dict>
				<key>HV</key>
				<string>105</string>
				<key>OV</key>
				<string>115</string>
				<key>nV</key>
				<string>100</string>
				<key>oV</key>
				<string>105</string>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSOffsetHorizontal</key>
		<integer>1</integer>
		<key>GSOffsetVertical</key>
		<integer>0</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>7C1725DE-9D81-4366-9E02-5B418FA849BA</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>space</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>M.ss01</string>
		<string>N</string>
		<string>N.ss01</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>Q_u</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>a_macr</string>
		<string>a_m</string>
		<string>b</string>
		<string>b_hook</string>
		<string>b_strok</string>
		<string>c</string>
		<string>c_macr</string>
		<string>c_ra</string>
		<string>c_t</string>
		<string>c_t_macr</string>
		<string>d</string>
		<string>d_strok</string>
		<string>e</string>
		<string>e_macr</string>
		<string>e_hook</string>
		<string>e_ogon</string>
		<string>e_tilde</string>
		<string>f</string>
		<string>f_f</string>
		<string>f_i</string>
		<string>f_i.ss01</string>
		<string>g</string>
		<string>g_hook</string>
		<string>g_ring</string>
		<string>g_e</string>
		<string>g_urrot</string>
		<string>h</string>
		<string>h_hook</string>
		<string>h_strok</string>
		<string>i</string>
		<string>i.calt</string>
		<string>i_macr</string>
		<string>i_m</string>
		<string>i_n</string>
		<string>i_u</string>
		<string>i_u_macr</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>l_strok</string>
		<string>l_i</string>
		<string>m</string>
		<string>m.calt</string>
		<string>m_macr</string>
		<string>m_ring</string>
		<string>m_urrot</string>
		<string>n</string>
		<string>n.calt</string>
		<string>n_macr</string>
		<string>n_urrot</string>
		<string>n_i</string>
		<string>o</string>
		<string>o_macr</string>
		<string>o_tilde</string>
		<string>p</string>
		<string>p.ss01</string>
		<string>p.calt</string>
		<string>p_bardes</string>
		<string>p_flour</string>
		<string>p_macr</string>
		<string>p_tilde</string>
		<string>p_urrot</string>
		<string>p_p_flour</string>
		<string>q</string>
		<string>q_bardes</string>
		<string>q_bardes_ra</string>
		<string>q_etfin</string>
		<string>q_macr</string>
		<string>q_ra</string>
		<string>q_ring</string>
		<string>q_strok</string>
		<string>q_strok_macr</string>
		<string>q_strok_ra</string>
		<string>q_urrot</string>
		<string>r</string>
		<string>r.ss01</string>
		<string>r.calt</string>
		<string>r_macr</string>
		<string>r_hook</string>
		<string>r_rot</string>
		<string>r_tilde</string>
		<string>r_a</string>
		<string>r_i</string>
		<string>s</string>
		<string>longs</string>
		<string>longs_etfin</string>
		<string>longs_b_stock</string>
		<string>longs_strok</string>
		<string>longs_i</string>
		<string>longs_f</string>
		<string>longs_longs</string>
		<string>longs_t</string>
		<string>longs_colon</string>
		<string>t</string>
		<string>t_acute</string>
		<string>t_hook</string>
		<string>t_macr</string>
		<string>t_tilde</string>
		<string>t_ra</string>
		<string>t_a</string>
		<string>t_i</string>
		<string>t_u</string>
		<string>t_u_macr</string>
		<string>u</string>
		<string>u_macr</string>
		<string>u_hook</string>
		<string>u_calt</string>
		<string>u_ring</string>
		<string>u_tilde</string>
		<string>u_urrot</string>
		<string>u_i</string>
		<string>v</string>
		<string>v_hook</string>
		<string>w</string>
		<string>x</string>
		<string>x_ring</string>
		<string>x_urrot</string>
		<string>y</string>
		<string>z</string>
		<string>gamma</string>
		<string>mu</string>
		<string>theta</string>
		<string>etc</string>
		<string>upsilon</string>
		<string>omega</string>
		<string>pamphyliandigamma</string>
		<string>leo</string>
		<string>Eta</string>
		<string>alpha</string>
		<string>beta</string>
		<string>delta</string>
		<string>epsilon</string>
		<string>Theta</string>
		<string>theta</string>
		<string>iota</string>
		<string>iota_dieresis</string>
		<string>kappa</string>
		<string>lambda</string>
		<string>xi</string>
		<string>omicron</string>
		<string>pi</string>
		<string>rho</string>
		<string>tau</string>
		<string>upsilon_dieresis</string>
		<string>phi</string>
		<string>chi</string>
		<string>san</string>
		<string>deicoptic</string>
		<string>ampersand</string>
		<string>etc</string>
		<string>con</string>
		<string>etfin</string>
		<string>rum</string>
		<string>section</string>
		<string>us</string>
		<string>usmod</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>period</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>semicolon</string>
		<string>comma</string>
		<string>colon</string>
		<string>question</string>
		<string>hyphen</string>
		<string>bardes</string>
		<string>flour</string>
		<string>hook</string>
		<string>longhook</string>
		<string>macr</string>
		<string>longmacr</string>
		<string>ra</string>
		<string>ring</string>
		<string>tilde</string>
		<string>tildecomb</string>
		<string>urrot</string>
	</array>
	<key>com.schriftgestaltung.master.name</key>
	<string>Subiaco Proto-Roman 120R</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>space</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>M.ss01</string>
		<string>N</string>
		<string>N.ss01</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>a_macr</string>
		<string>b</string>
		<string>b_strok</string>
		<string>c</string>
		<string>c_ra</string>
		<string>c_t</string>
		<string>c_t_macr</string>
		<string>d</string>
		<string>d_strok</string>
		<string>e</string>
		<string>e_macr</string>
		<string>e_ogon</string>
		<string>f</string>
		<string>f_f</string>
		<string>f_i</string>
		<string>f_i.ss01</string>
		<string>g</string>
		<string>g_ring</string>
		<string>g_e</string>
		<string>g_urrot</string>
		<string>h</string>
		<string>h_strok</string>
		<string>i</string>
		<string>i.calt</string>
		<string>i_macr</string>
		<string>i_n</string>
		<string>i_u</string>
		<string>i_u_macr</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>l_strok</string>
		<string>l_i</string>
		<string>m</string>
		<string>m.calt</string>
		<string>m_macr</string>
		<string>m_ring</string>
		<string>m_urrot</string>
		<string>n</string>
		<string>n.calt</string>
		<string>n_macr</string>
		<string>n_urrot</string>
		<string>n_i</string>
		<string>o</string>
		<string>o_macr</string>
		<string>p</string>
		<string>p.calt</string>
		<string>p_bardes</string>
		<string>p_flour</string>
		<string>p_macr</string>
		<string>p_urrot</string>
		<string>q</string>
		<string>q_bardes</string>
		<string>q_bardes_ra</string>
		<string>q_etfin</string>
		<string>q_ra</string>
		<string>q_ring</string>
		<string>q_strok</string>
		<string>q_strok_macr</string>
		<string>q_urrot</string>
		<string>r</string>
		<string>r.calt</string>
		<string>r_macr</string>
		<string>r_a</string>
		<string>r_i</string>
		<string>s</string>
		<string>longs</string>
		<string>longs_etfin</string>
		<string>longs_b_stock</string>
		<string>longs_strok</string>
		<string>longs_longs</string>
		<string>longs_t</string>
		<string>t</string>
		<string>t_acute</string>
		<string>t_a</string>
		<string>t_i</string>
		<string>t_u</string>
		<string>t_u_macr</string>
		<string>u</string>
		<string>u_macr</string>
		<string>u_calt</string>
		<string>u_ring</string>
		<string>u_urrot</string>
		<string>u_i</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>x_ring</string>
		<string>x_urrot</string>
		<string>y</string>
		<string>z</string>
		<string>gamma</string>
		<string>mu</string>
		<string>upsilon</string>
		<string>omega</string>
		<string>leo</string>
		<string>Eta</string>
		<string>alpha</string>
		<string>beta</string>
		<string>delta</string>
		<string>epsilon</string>
		<string>Theta</string>
		<string>theta</string>
		<string>iota</string>
		<string>iota_dieresis</string>
		<string>kappa</string>
		<string>lambda</string>
		<string>xi</string>
		<string>omicron</string>
		<string>pi</string>
		<string>rho</string>
		<string>tau</string>
		<string>upsilon_dieresis</string>
		<string>phi</string>
		<string>chi</string>
		<string>san</string>
		<string>deicoptic</string>
		<string>ampersand</string>
		<string>etc</string>
		<string>etfin</string>
		<string>rum</string>
		<string>us</string>
		<string>period</string>
		<string>colon</string>
		<string>question</string>
		<string>hyphen</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>deicoptic</key>
		<string>uni03EF</string>
		<key>emspace</key>
		<string>uni2003</string>
		<key>enspace</key>
		<string>uni2002</string>
		<key>fourperemspace</key>
		<string>uni2005</string>
		<key>hairspace</key>
		<string>uni200A</string>
		<key>leo</key>
		<string>uni264C</string>
		<key>mu</key>
		<string>uni03BC</string>
		<key>rum</key>
		<string>uniA775</string>
		<key>san</key>
		<string>uni03FB</string>
		<key>thinspace</key>
		<string>uni2009</string>
		<key>threeperemspace</key>
		<string>uni2004</string>
		<key>us</key>
		<string>uniA770</string>
	</dict>
</dict>
</plist>
