<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>483C873A-D416-4B5C-89C7-58C63F6F94B2</key>
		<dict>
			<key>HH</key>
			<string>45</string>
			<key>HV</key>
			<string>105</string>
			<key>OH</key>
			<string>45</string>
			<key>OV</key>
			<string>115</string>
			<key>nV</key>
			<string>100</string>
		</dict>
	</dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.Use Typo Metrics</key>
	<true/>
	<key>com.schriftgestaltung.font.license</key>
	<string>SIL OPEN FONT LICENSE (OFL 1.1)</string>
	<key>com.schriftgestaltung.font.licenseURL</key>
	<string>https://opensource.org/licenses/OFL-1.1</string>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>483C873A-D416-4B5C-89C7-58C63F6F94B2</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>space</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>A</string>
		<string>A.ss01</string>
		<string>B</string>
		<string>B.ss01</string>
		<string>C</string>
		<string>C</string>
		<string>D</string>
		<string>D.ss01</string>
		<string>D.ss02</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>L.ss01</string>
		<string>M</string>
		<string>M.ss01</string>
		<string>N</string>
		<string>N.ss01</string>
		<string>O</string>
		<string>P</string>
		<string>P.ss01</string>
		<string>Q</string>
		<string>Q_bardes</string>
		<string>Q_strok</string>
		<string>R</string>
		<string>R.ss01</string>
		<string>S</string>
		<string>S.ss01</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>V.ss01</string>
		<string>W</string>
		<string>X</string>
		<string>X.ss01</string>
		<string>Y</string>
		<string>Y.ss01</string>
		<string>Z</string>
		<string>a</string>
		<string>a_macr</string>
		<string>b</string>
		<string>b_hook</string>
		<string>c</string>
		<string>c_hook</string>
		<string>c_macr</string>
		<string>c_ra</string>
		<string>c_t</string>
		<string>d</string>
		<string>d_strok</string>
		<string>e</string>
		<string>e_hook</string>
		<string>e_macr</string>
		<string>f</string>
		<string>f_f</string>
		<string>g</string>
		<string>g_hook</string>
		<string>g_ra</string>
		<string>g_i</string>
		<string>h</string>
		<string>h_hook</string>
		<string>i</string>
		<string>idotless</string>
		<string>i.ss01</string>
		<string>i.ss02</string>
		<string>i_macr</string>
		<string>i_n</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>l_hook</string>
		<string>m</string>
		<string>m_macr</string>
		<string>n</string>
		<string>n_hook</string>
		<string>n_macr</string>
		<string>o</string>
		<string>o_macr</string>
		<string>p</string>
		<string>p_bardes</string>
		<string>p_hook</string>
		<string>p_flour</string>
		<string>p_macr</string>
		<string>p_p</string>
		<string>p_p_flour</string>
		<string>p_ra</string>
		<string>p_urrot</string>
		<string>q</string>
		<string>q_hook</string>
		<string>q_macr</string>
		<string>q_ra</string>
		<string>q_strok</string>
		<string>q_strok_ra</string>
		<string>r</string>
		<string>r.ss01</string>
		<string>r_hook</string>
		<string>r_macr</string>
		<string>r_rot</string>
		<string>s</string>
		<string>longs</string>
		<string>longs_i</string>
		<string>longs_longs</string>
		<string>longs_strok</string>
		<string>longs_t</string>
		<string>t</string>
		<string>t_acute</string>
		<string>t_macr</string>
		<string>t_ra</string>
		<string>t_tilde</string>
		<string>u</string>
		<string>u_hook</string>
		<string>u_macr</string>
		<string>v</string>
		<string>v_hook</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>ampersand</string>
		<string>con</string>
		<string>etfin</string>
		<string>rum</string>
		<string>section</string>
		<string>usmod</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>question</string>
		<string>hyphen</string>
		<string>bardes</string>
		<string>flour</string>
		<string>hook</string>
		<string>longhook</string>
		<string>macr</string>
		<string>ra</string>
		<string>ring</string>
		<string>tilde</string>
		<string>urrot</string>
	</array>
	<key>com.schriftgestaltung.master.name</key>
	<string>Gotico-Antiqua 100G</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>space</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>A</string>
		<string>A.ss01</string>
		<string>B</string>
		<string>B.ss01</string>
		<string>C</string>
		<string>D</string>
		<string>D.ss01</string>
		<string>D.ss02</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>L.ss01</string>
		<string>M</string>
		<string>M.ss01</string>
		<string>N</string>
		<string>N.ss01</string>
		<string>O</string>
		<string>P</string>
		<string>P.ss01</string>
		<string>Q</string>
		<string>Q_bardes</string>
		<string>Q_strok</string>
		<string>R</string>
		<string>R.ss01</string>
		<string>S</string>
		<string>S.ss01</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>V.ss01</string>
		<string>W</string>
		<string>X</string>
		<string>X.ss01</string>
		<string>Y.ss01</string>
		<string>Z</string>
		<string>a</string>
		<string>a_macr</string>
		<string>b</string>
		<string>b_hook</string>
		<string>c</string>
		<string>c_hook</string>
		<string>c_macr</string>
		<string>c_ra</string>
		<string>c_t</string>
		<string>d</string>
		<string>d_strok</string>
		<string>e</string>
		<string>e_hook</string>
		<string>e_macr</string>
		<string>f</string>
		<string>f_f</string>
		<string>g</string>
		<string>g_hook</string>
		<string>g_ra</string>
		<string>g_i</string>
		<string>h</string>
		<string>h_hook</string>
		<string>i</string>
		<string>idotless</string>
		<string>i.ss01</string>
		<string>i_macr</string>
		<string>i_n</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>l_hook</string>
		<string>m</string>
		<string>m_macr</string>
		<string>n</string>
		<string>n_hook</string>
		<string>n_macr</string>
		<string>o</string>
		<string>o_macr</string>
		<string>p</string>
		<string>p_bardes</string>
		<string>p_hook</string>
		<string>p_flour</string>
		<string>p_macr</string>
		<string>p_p</string>
		<string>p_p_flour</string>
		<string>p_ra</string>
		<string>p_urrot</string>
		<string>q</string>
		<string>q_hook</string>
		<string>q_macr</string>
		<string>q_ra</string>
		<string>q_strok</string>
		<string>q_strok_ra</string>
		<string>r</string>
		<string>r.ss01</string>
		<string>r_hook</string>
		<string>r_macr</string>
		<string>s</string>
		<string>longs</string>
		<string>longs_i</string>
		<string>longs_longs</string>
		<string>longs_strok</string>
		<string>longs_t</string>
		<string>t</string>
		<string>t_acute</string>
		<string>t_macr</string>
		<string>t_ra</string>
		<string>t_tilde</string>
		<string>u</string>
		<string>u_hook</string>
		<string>u_macr</string>
		<string>v</string>
		<string>v_hook</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>ampersand</string>
		<string>con</string>
		<string>etfin</string>
		<string>rum</string>
		<string>section</string>
		<string>usmod</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>question</string>
		<string>hyphen</string>
		<string>bardes</string>
		<string>flour</string>
		<string>hook</string>
		<string>longhook</string>
		<string>macr</string>
		<string>ra</string>
		<string>ring</string>
		<string>tilde</string>
		<string>urrot</string>
	</array>
</dict>
</plist>
