<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>700</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>Copyright (c) 2019 ANRT. All rights reserved.</string>
	<key>descender</key>
	<integer>-250</integer>
	<key>familyName</key>
	<string>Zainer</string>
	<key>openTypeHeadCreated</key>
	<string>2019/04/19 18:04:28</string>
	<key>openTypeNameDescription</key>
	<string>Zainer Initials, richly decorated gothic initials of 45 mm height, first used in Ulm by Johann Zainer for the Spiritual Interpretations of the Life of Jesus Christ around 1478. Used until 1480.

Type design workshop at Hochschule Aachen and Stadtbibliothek Aachen, October 2017.

Sources: Latin Bible, c. 1480 &amp; Legenda Aurea, Jacobus de Voragine, 1478.

Workshop participants: Annija Ceska, Tobias Küppers, Simon Thiefes, Marco Bazelmans, Martha Ioannidou, Felix Paul Wochnik, Leonie Viola Sarbo, Paul Theisen, Robert Franke, Jennifer Schönlau, Andreas Blindert, Paula Dahlem, Henry Monse, Janusz Kendel, Carlotta Piontkowitz, Alexis Faudot, Rafael Ribas.

Font designed and produced by Alexis Faudot and Rafael Ribas, directed by Jérôme Knebusch, Atelier National de Recherche Typographqiue (ANRT), Nancy.

Copyright (c) 2019 ANRT. All rights reserved.</string>
	<key>openTypeNameDesigner</key>
	<string>Alexis Faudot, Rafael Ribas</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.anrt-nancy.fr</string>
	<key>openTypeNameManufacturer</key>
	<string>ANRT</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.anrt-nancy.fr</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Zainer</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Initials 45 mm</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array>
		<integer>2</integer>
	</array>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>ANRT</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-15</integer>
		<integer>0</integer>
		<integer>455</integer>
		<integer>470</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Zainer-Initials45mm</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>styleMapFamilyName</key>
	<string>Zainer Initials 45 mm</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Initials 45 mm</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>455</integer>
</dict>
</plist>
